# -- IDE SPECIFIC -- #
# VS CODE #
.vscode/
# CODE::BLOCKS #
*.cbp
*.depend
*.layout
.idea/
common/

# BUILD ARTIFACTS #
bin/    
build/
logs/
obj/
saves/

# FILE TYPES #
*.log
*.o
*.exe
*.dll
*.gg_world

# Ignore Mr. Claude
CLAUDE.md

# LIBRARY FOLDERS #
common/

# DOXYGEN #
html/